!!!
%html
  %head
    %meta{ charset: "utf-8" }/
    %meta{ content: "chrome=1", "http-equiv" => "X-UA-Compatible" }/
    %title Call for Proposals — Beyond Spectacle
    %link{ href: "stylesheets/styles.css", rel: "stylesheet" }/
    %link{ href: "stylesheets/github-light.css", rel: "stylesheet" }/
    %meta{ content: "width=device-width", name: "viewport" }/
    %meta{ name: "google-site-verification",
      content: "YAghK860WnvAF74e1C-ovwcS9tk0Q68FRm9Y-tA6Ltg" }/
    /[if lt IE 9]
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .wrapper
      %header
        %h1
          %a{ href: "/" }Beyond Spectacle
        %p
          Welcome to Beyond Spectacle, a hybrid conference/residency
          activating the intellectual, artistic, and activist legacy of
          %a{ href: "https://en.wikipedia.org/wiki/Situationist_International",
            target: "blank" }
            The Situationist International
          to address political concerns of the present.
      %section
        %p
          %strong OPEN CALL FOR CONTRIBUTIONS
        %p
          “As long as necessity is socially dreamed, dreaming will remain a
          social necessity.” — Guy Debord,
          %i The Society of the Spectacle
          Aphorism 21
        %p
          In conjunction with the conference Beyond Spectacle organized by the
          Institute for the Humanities of Simon Fraser University, Cinevolution
          invites proposals from local, national and international interested
          persons to present projects for a residency to take place in
          %strong Vancouver, BC, from April 3rd to April 9th, 2017.
        %p
          The Situationist International (SI) was a movement of (anti-)artists,
          thinkers and activists who, between 1957 and 1972, produced films and
          publications that critically addressed what they termed the
          “spectacular commodity-society.” The conference will explore how the
          spectacle remains a pertinent concept from which to criticize
          contemporary experience. From the dismantling of the welfare state
          concurring with an international rise of fascism to the pressure of
          new technologies that embody a neoliberal performance of oneself,
          social relations are mediated by images to an increasing degree.
        %p
          Seeking to engage the legacy of the SI, this “open residency” will
          combine theory and artistic practice in order to create a cooperative
          space for the critical analysis of society. Opening prior to the
          conference and continuing throughout and afterwards, the residency
          will operate as a workshop for critical dialogue and experimentation.
          Visiting participants will be introduced to local participants prior
          to the residency start, as well as to scholar advisors. Conference
          attendees will be invited to participate in the proposed situations,
          and residents will be invited to intervene in conference proceedings,
          creating a dynamic environment to share ideas and projects.
        %p
          A possible proposal might include:
          %ul
            %li Studio space for relevant projects
            %li Creation of agitprop material
            %li Critical writing practices
            %li Research workshops
            %li Proposals to conduct “dérives”
            %li
              Presentation of projects for critical reception by the
              participants
            %li Public interventions
            %li Hacking practices and Internet activism
        %p
          %strong The Residency Space
        %p
          The residency will take place at The Gold Saucer Studio,
          %a{ href: "https://www.google.ca/maps/place/Dominion+Building,+Vancouver,+BC/@49.2828962,-123.1100036,20z",
            target: "blank" }
            207 West Hastings Street, Vancouver.
        %p
          The residency will take place in a multi-purpose studio. Facilities
          include tables, printer, sofa, coffee machine, Internet connection,
          a projector and a library of relevant texts. Participants are invited
          to bring their own material and tools. Light refreshments will be
          offered during the residency. The organizers will document the
          residency and make this material available on a website, which will
          also serve as a platform to present contributions.
        %p
          %strong Submission
        %p
          Submission should be email to
          %a{ href: "mailto:residency@beyondspectacle.org" }
            residency@beyondspectacle.org
          with the subject line: “Beyond Spectacle Residency”.
        %p
          Project proposals will be accepted until
          %strong February 7th, 2017.
          Please include the following documentation (in French or English):
        %p
          %ol
            %li
              Applicant's name, e-mail address, telephone number, and mailing
              address. For collective projects, please include the
              aforementioned information for each participant.
            %li
              A statement no longer than 500 words containing a description of
              the project.
            %li
              A detailed list of the resources necessary to carry out the
              project: materials and tools, electronic, audio-visual and
              lighting equipment, etc.
            %li
              If applicable, design and/or floor plan, including specifications
              regarding physical layout and installation.
            %li
              A brief curriculum vitae (2 pages max.). Should the project be
              presented by a collective, include a brief history of the group,
              as well as the curriculum vitae of each member.
        %p
          %strong *PLEASE NOTE:
          %ul
            %li Late submissions will not be considered.
            %li
              Although we welcome submissions from outside Vancouver, we are
              unable to compensate travel expenses. Contingent upon funding,
              participants will be remunerated according to art industry
              standards; in this case, participants will be expected to debut
              an original work or performance for public exhibition during the
              residency, and will receive additional support to do so. Works
              should be in thematic unity with the residency and related
              programming, and collaboration is encouraged.
        %p
          %strong Selection
        %p
          The participants selected will be notified via e-mail or telephone by
          February 14th. After that date, the organizers will discuss project
          conditions with the selected participants, as well as production and
          installation costs if applicable. The list of participants selected
          will be published on organizers’ websites, as well as via other means
          of communication.
        %p
          The projects will be selected by a jury of arts professionals
          according to feasibility and criticality. We also encourage proposals
          outside of the above-mentioned suggestions or those challenging the
          proposed framework. Applicants interested in public action should
          highlight that in their proposals. Priority will be given to
          participants who are in an on-going dialog with critical theories and
          interested in sharing their knowledge. This event welcomes
          participants from all origins, gender, sexual orientation, faith and
          ability.
        %p
          For more information, or to request a version of this announcement in
          French, please contact (in English or French):
          %a{ href: "mailto:residency@beyondspectacle.org" }
            residency@beyondspectacle.org

      %footer
        %p
          %small
            This project is maintained by
            %a{ href: "https://github.com/SubObjTec/beyond-spectacle",
              target: "blank" }
              SubObjTec
    %script{ src: "javascripts/scale.fix.js" }
