!!!
%html
  %head
    %meta{ charset: "utf-8" }/
    %meta{ content: "chrome=1", "http-equiv" => "X-UA-Compatible" }/
    %title {{ title }}
    %link{ href: "stylesheets/styles.css", rel: "stylesheet" }/
    %link{ href: "stylesheets/github-light.css", rel: "stylesheet" }/
    %meta{ content: "width=device-width", name: "viewport" }/
    %meta{ name: "google-site-verification",
      content: "YAghK860WnvAF74e1C-ovwcS9tk0Q68FRm9Y-tA6Ltg" }/
    /[if lt IE 9]
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .wrapper
      %header
        %h1
          %a{ href: "/" }Beyond Spectacle
        %p
          Welcome to Beyond Spectacle, a hybrid conference/residency
          activating the intellectual, artistic, and activist legacy of
          %a{ href: "https://en.wikipedia.org/wiki/Situationist_International",
            target: "blank" }
            The Situationist International
          to address political concerns of the present.
      %section.content
        {{ content }}
      %footer
        .social-media-links
          %p
            %a{ href: "https://twitter.com/BeyondSpectacle", target: "blank" }
              Find us on Twitter
          %p
            %a{ href: "https://www.facebook.com/events/358644507846604/",
              target: "blank" }
              Find our Call for Proposals on Facebook
        %br
        %p
          %small
            This project is maintained by
            %a{ href: "https://github.com/SubObjTec/beyond-spectacle",
              target: "blank" }
              SubObjTec
    %script{ src: "javascripts/scale.fix.js" }
