!!!
%html
  %head
    %meta{ charset: "utf-8" }/
    %meta{ content: "chrome=1", "http-equiv" => "X-UA-Compatible" }/
    %title Beyond Spectacle
    %link{ href: "stylesheets/styles.css", rel: "stylesheet" }/
    %link{ href: "stylesheets/github-light.css", rel: "stylesheet" }/
    %meta{ content: "width=device-width", name: "viewport" }/
    %meta{ name: "google-site-verification",
      content: "YAghK860WnvAF74e1C-ovwcS9tk0Q68FRm9Y-tA6Ltg" }/
    /[if lt IE 9]
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .wrapper
      %header
        %h1
          %a{ href: "/" }Beyond Spectacle
        %p
          Welcome to Beyond Spectacle, a hybrid conference/residency
          activating the intellectual, artistic, and activist legacy of
          %a{ href: "https://en.wikipedia.org/wiki/Situationist_International",
            target: "blank" }
            The Situationist International
          to address political concerns of the present.
      %section
        %p
          Beyond Spectacle is a collaborative project hosted jointly by
          %a{ href: "http://www.sfu.ca/humanities-institute.html",
            target: "blank" }
            The Institute for the Humanities
          at Simon Fraser University and
          %a{ href: "http://cinevolutionmedia.com",
            target: "blank" }
            Cinevolution Media Arts Society.
        %p
          Celebrating the 50th anniversary of the publication of the key
          Situationist texts, Guy Debord's
          %i The Society of the Spectacle
          and Raoul Vaneigem's
          %i The Revolution of Everyday Life
          Beyond Spectacle will feature scholarly speaking engagements, creation
          and exhibition of art works, film screenings, and other events.
        %p
          Completely free and open to the public, Beyond Spectacle will take
          place in Vancouver, Coast Salish territories, Canada, in April, 2017.
        %h3
          %a#conference.anchor{ "aria-hidden" => "true", href: "#conference" }>
            %span.octicon.octicon-link{ "aria-hidden" => "true"}
          Conference
        %p
          An academic conference titled Spectacle of Fascism will present
          discussions by invited scholars examining the contributions of the
          Situationists within the context of ongoing changes in the global
          political landscape.
        %h3
          %a#residency.anchor{ "aria-hidden" => "true", href: "#residency" }>
            %span.octicon.octicon-link{ "aria-hidden" => "true"}
          Residency
        %p
          We are now accepting proposals for artistic projects. Please feel free
          to circulate our
          %a#cfp{ href: "./call-for-proposals" } Call for Proposals
          widely.
      %footer
        %p
          %small
            This project is maintained by
            %a{ href: "https://github.com/SubObjTec/beyond-spectacle",
              target: "blank" }
              SubObjTec
    %script{ src: "javascripts/scale.fix.js" }
