!!!
%html
  %head
    %meta{ charset: "utf-8" }/
    %meta{ content: "chrome=1", "http-equiv" => "X-UA-Compatible" }/
    %title Beyond Spectacle
    %link{ href: "stylesheets/styles.css", rel: "stylesheet" }/
    %link{ href: "stylesheets/github-light.css", rel: "stylesheet" }/
    %meta{ content: "width=device-width", name: "viewport" }/
    %meta{ name: "google-site-verification",
      content: "YAghK860WnvAF74e1C-ovwcS9tk0Q68FRm9Y-tA6Ltg" }/
    /[if lt IE 9]
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .wrapper
      %header
        %h1
          %a{ href: "/" }Beyond Spectacle
        %p
          Welcome to Beyond Spectacle, a hybrid conference/residency
          activating the intellectual, artistic, and activist legacy of
          %a{ href: "https://en.wikipedia.org/wiki/Situationist_International",
            target: "blank" }
            The Situationist International
          to address political concerns of the present.
      %section
        %p
          Beyond Spectacle marks the 50th anniversary of the publication of
          the key texts of the Situationist International, Guy Debord's
          %i The Society of the Spectacle
          and Raoul Vaneigem's
          %span
            %i The Revolution of Everyday Life
            %span> .
          It will feature speakers, creation and exhibition of art works, film
          screenings, and other events.
        %p
          %a{ href: "http://www.sfu.ca/humanities-institute.html",
            target: "blank" }
            The Institute for the Humanities
          of Simon Fraser University and
          %a{ href: "http://cinevolutionmedia.com",
            target: "blank" }
            Cinevolution Media Arts Society
          will collaboratively host Beyond Spectacle as a free public event
          in Vancouver, Coast Salish territories, Canada, in April, 2017.
        %h3
          %a#conference.anchor{ "aria-hidden" => "true", href: "#conference" }>
            %span.octicon.octicon-link{ "aria-hidden" => "true"}
          Conference
        %p
          The conference portion of the event, titled Spectacle of Fascism,
          will present discussions by invited scholars examining the
          contributions of the Situationists within the context of ongoing
          changes in the global political landscape.
        %h3
          %a#residency.anchor{ "aria-hidden" => "true", href: "#residency" }>
            %span.octicon.octicon-link{ "aria-hidden" => "true"}
          Residency
        %p
          We are now accepting proposals for artistic projects. Please feel free
          to circulate widely our
          %span
            %a#cfp{ href: "./call-for-proposals" } Call for Proposals
            %span> .
      %footer
        .social-media-links
          %p
            %a{ href: "https://twitter.com/BeyondSpectacle", target: "blank" }
              Find us on Twitter
          %p
            %a{ href: "https://www.facebook.com/events/358644507846604/",
              target: "blank" }
              Find our Call for Proposals on Facebook
        %br
        %br
        %p
          %small
            This project is maintained by
            %a{ href: "https://github.com/SubObjTec/beyond-spectacle",
              target: "blank" }
              SubObjTec
    %script{ src: "javascripts/scale.fix.js" }
