!!!
%html
  %head
    %meta{ charset: "utf-8" }/
    %meta{ content: "chrome=1", "http-equiv" => "X-UA-Compatible" }/
    %title Beyond Spectacle by SubObjTec
    %link{ href: "stylesheets/styles.css", rel: "stylesheet" }/
    %link{ href: "stylesheets/github-light.css", rel: "stylesheet" }/
    %meta{ content: "width=device-width", name: "viewport" }/
    /[if lt IE 9]
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .wrapper
      %header
        %h1 Beyond Spectacle
        %p
          Welcome to Beyond Spectacle, a hybrid conference/artist residency
          activating the intellectual, artistic, and political legacy of the
          Situationist International to address concerns of the present.
      %section
        %h2
          %a#beyond-spectacle.anchor{ "aria-hidden" => "true",
            href: "#beyond-spectacle" }>
            %span.octicon.octicon-link{ "aria-hidden" => "true" }
          Beyond Spectacle
        %p
          Beyond Spectacle is a hybrid conference/artist residency on the
          intellectual, artistic, and political legacy of
          %a{ href: "https://en.wikipedia.org/wiki/Situationist_International" }
            the Situationist International
          and its relevance for the present.
        %h3
          %a#conference.anchor{ "aria-hidden" => "true", href: "#conference" }>
            %span.octicon.octicon-link{ "aria-hidden" => "true"}
          Conference
        %h3
          %a#residency.anchor{ "aria-hidden" => "true", href: "#residency" }>
            %span.octicon.octicon-link{ "aria-hidden" => "true"}
          Residency
      %footer
        %p.view
          %a{ href: "https://github.com/SubObjTec/beyond-spectacle" }
            View the Project on GitHub
            %small SubObjTec/beyond-spectacle
        %ul
          %li
            %a{ href: "https://github.com/SubObjTec/beyond-spectacle/zipball/master" }
              Download
              %strong ZIP File
          %li
            %a{ href: "https://github.com/SubObjTec/beyond-spectacle/tarball/master" }
              Download
              %strong TAR Ball
          %li
            %a{ href: "https://github.com/SubObjTec/beyond-spectacle" }
              View On
              %strong GitHub
        %p
          This project is maintained by
          %a{ href: "https://github.com/SubObjTec" } SubObjTec
        %p
          %small
            Hosted on GitHub Pages — Theme by
            %a{ href: "https://github.com/orderedlist" } orderedlist
    %script{ src: "javascripts/scale.fix.js" }
